.neuron {
    -fx-background-color: #3F597F;
    -fx-background-radius: 20;
    -fx-text-fill: #CBDFFF;
    -fx-font-style: oblique;
    -fx-padding: 1em;
    -fx-border-radius: 20;
    -fx-min-width: 7em;
}

.axon {
    -fx-background-color: #7EB1FF;
    -fx-background-radius: 5;
    -fx-padding: 0.5em;
    -fx-text-fill: #3F597F;
}

.background {
    -fx-background-color: #CBDFFF;

}

.target {
    -fx-background-color: #658ECC;
    -fx-background-radius: 20;
    -fx-padding: 1em;
    -fx-text-fill: #CBDFFF;
    -fx-min-width: 7em;


}

.error {
    -fx-background-color: #b20f00;
    -fx-background-radius: 20;
    -fx-padding: 1em;
    -fx-text-fill: #CBDFFF;
}
.errorThreshold {
    -fx-background-color: whitesmoke;
    -fx-background-radius: 20;
    -fx-padding: 1em;
    -fx-text-fill: #3F597F;
}


.textLabel {
    -fx-text-fill: #3F597F;
}

.userBtn {

  /*  -fx-background-radius: 30px;*/
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}