.neuron {
    -fx-background-color: #11b259;
    -fx-background-radius: 20;
    -fx-text-fill: #caffe2;
    -fx-font-style: oblique;
    -fx-padding: 1em;
    -fx-border-radius: 20;
    -fx-min-width: 7em;
}

.axon {
    -fx-background-color: #32ff8d;
    -fx-background-radius: 5;
    -fx-padding: 0.5em;
    -fx-text-fill: #11b259;
}

.background {
    -fx-background-color: #caffe2;

}

.target {
    -fx-background-color: #11b259;
    -fx-background-radius: 20;
    -fx-padding: 1em;
    -fx-text-fill: #32ff8d;
    -fx-min-width: 7em;


}

.error {
    -fx-background-color: #b20f00;
    -fx-background-radius: 20;
    -fx-padding: 1em;
    -fx-text-fill: #caffe2;
}

.textLabel {
    -fx-text-fill: #11b259;
}